%gradient-bg {
    background: rgb(70,126,190);
    background: -moz-linear-gradient(90deg, rgba(70,126,190,1) 0%, #0159AA 100%);
    background: -webkit-linear-gradient(90deg, rgba(70,126,190,1) 0%, #0159AA 100%);
    background: linear-gradient(90deg, rgba(70,126,190,1) 0%, #0159AA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#467ebe",endColorstr="#0159AA",GradientType=1);
}