.c-products-form {
    position: fixed;
    z-index: 99;
    right: -100%;
    top: 0;
    height: 100vh;
    background: $gray-light;
    transition: all 0.5s ease-in-out;
    max-width: 400px;
    width: 100vw;
    overflow: auto;

    &__title {
        font-size: 1.8rem;
        color: $grey;
        border-bottom: 1px solid #c0c0c0;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
    }

    &__container {
        padding: 0rem 3rem;

        p {
            margin-top: 0
        }
    }

    &__close-btn {
        appearance: none;
        font-size: 1.6rem;
        color: white;
        border: none;
        background-color: transparent;
    }

    &__close-ctn {
        text-align: center;
    }

    .c-products-form__container {
        p:last-of-type {
            line-height: 0;
            padding: 0;
            margin: 0;
        }

        .wpcf7 form.sent .wpcf7-response-output {
            color: $dark;
        }
    }

    label {
        color: $grey;
        font-size: 1.4rem;
    }

    &.open {
        right: 0;
        transition: all 0.5s ease-in-out;
    }

    .wpcf7-spinner {
        transform: translateY(-42px);
    }

    .wpcf7-not-valid-tip {
        font-size: 1.2rem;
    }
    .wpcf7-response-output {
        margin: 0!important;
        padding: 0!important;
        text-align: center;
        border: 0!important;
        color: $primary-color;
        font-size: 1.6rem;
    }

    .invalid .wpcf7-response-output {
        color: red;
    }

    .wpcf7-textarea {
        height: 100px;
    }
    
}
