.c-products-form {
    position: fixed;
    z-index: 99;
    right: -500px;
    top: 0;
    height: 100vh;
    background: $gray-light;
    transition: all 0.5s ease-in-out;

    &__title {
        font-size: 2.4rem;
        color: $grey;
        border-bottom: 1px solid #c0c0c0;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
    }

    &__container {
        padding: 0rem 3rem;
    }

    &__close-btn {
        appearance: none;
        font-size: 1.6rem;
        color: white;
        border: none;
        background-color: transparent;
    }

    &__close-ctn {
        text-align: center;
    }

    .c-products-form__container {
        p:last-of-type {
            line-height: 0;
            padding: 0;
            margin: 0;
        }
    }

    label {
        color: $grey;
        font-size: 1.6rem;
    }

    input[type=submit] {
        width: 100%;
        padding: 2rem 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        border: none;
        appearance: none;
        background-color: $primary-color;
    }

    &.open {
        right: 0;
        transition: all 0.5s ease-in-out;
    }

    .wpcf7-spinner {
        transform: translateY(-42px);
    }

    .wpcf7-not-valid-tip {
        font-size: 1.2rem;
    }
    .wpcf7-response-output {
        margin: 0!important;
        padding: 0!important;
        text-align: center;
        border: 0!important;
        color: $primary-color;
    }

    .invalid .wpcf7-response-output {
        color: red;
    }

    .wpcf7-textarea {
        height: 150px;
    }
    
}
