.cta {
    @extend %gradient-bg;
    position: fixed;
    z-index: 9;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    @include border-radius(50px);
    overflow: hidden;
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem 2.5rem;

    &:hover {
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-in-out;
    }

    &:hover & {

        &__button {
            background-color: transparent;
            color: white;
            transition: all 0.3s ease-in-out;
            width: 300px;
        }

        &__text {
            display: none
        }
        
    }

    &__button {
        @include border-radius(50px);
        border: none;
        -webkit-appearance: none;
        margin-left: 1rem;
        padding: 0.7rem 1.5rem;
        font-size: 14px;
        font-weight: 600;
    }
}