.footer-prod-categories {
    background-color: $gray-light;
    padding: 3rem;
    background-image: url($imgpath + '/triangule.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;

    &__content {
        @include min-xl {
            display: flex;
            max-width: $max-vw;
            margin: 0 auto;
            justify-content: space-between;
        }
        
    }

    &__container {
        position: relative;
    }

    &__subtitle {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        
        display: inline-block;
    }

    &__title {
        @include fluid-size(font-size, 20px, 40px);
        margin-top: 0;
        font-family: $headings;
        color: $secondary-color;
        max-width: 450px;
    }

    &__list {
        color: $grey;
        @include max-lg {
            padding: 0;
        }

        @include min-lg {
            display: none;
            position: absolute;
            left: 400px;
            top: 180px;
            height: 100%;
            width: 100%;
        }
    }

    &__item {
        list-style: none;
        padding-bottom: 1rem;

        a {
            color: $grey;
            text-decoration: none;
            
            @include max-lg {
                padding: 0 0 0 1rem;
                font-size: 16px;
            }
            
            @include min-xl {
                font-size: 20px;
            }
        }
    }

    &__inner {
        @include min-lg {
            max-width: 400px;
        }

        &:hover .footer-prod-categories__list {
            display: block;
        }

        &:hover .footer-prod-categories__parent {
            background-image: url($imgpath + '/arrow-grey.png');
            background-position: 100% 50%;
            background-repeat: no-repeat;
        }
    }

    &__parent {
        padding: 1rem 0;
        border-bottom: 1px solid $secondary-color;

        a {
            color: $grey;
            text-decoration: none;  
            display: inline-block;
            width: 100%;

            @include max-lg {
                padding: 0 0 0 1rem;
                font-size: 18px;
            }

            @include min-lg {
                font-size: 22px;
            }
        }
    }

    &__img {
        // float: right;
        // transform: translateY(-60%);
        // width: 40%;
        max-width: 500px;

        img {
            max-height: 600px;
            width: 100%;
            height: auto;
            
            // margin-left: 50%;
            // transform: translate(-50%, 0);
        }
    }

    
}