input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
   background-color: white;
   border: 1px solid #AFAFAF;
   box-sizing: border-box;
   color: $primary-color;
   @include border-radius(8px);
   font-weight: 600;
   padding: 10px 15px;
   width: 100%;
   font-size: 1.8rem;
   width: 100vw;
   max-width: 400px;

   &:focus {
      outline: none; 
  }
}


::-webkit-input-placeholder { /* Edge */
   
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    
}

::placeholder {
   
}
