input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
   background-color: white;
   border: 1px solid #AFAFAF;
   box-sizing: border-box;
   color: $primary-color;
   @include border-radius(8px);
   font-weight: 600;
   padding: 10px 15px;
   width: 100%;
   font-size: 1.6rem;

   &:focus {
      outline: none; 
  }
}

input[type=submit] {
   width: 100%;
   padding: 1.6rem 0;
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   border: none;
   appearance: none;
   background-color: $secondary-color;
   @include border-radius(30px);
}

.wpcf7-not-valid-tip {
   font-size: 1.4;
}
::-webkit-input-placeholder { /* Edge */
   
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    
}

.wpcf7 form.invalid .wpcf7-response-output {
   color: red;
}

.wpcf7 form.sent .wpcf7-response-output {
   color: $green;
}

.wpcf7-response-output {
   text-align: center;
   border: none!important;
   font-size: 16px;
}
::placeholder {
   
}
