.c-products-related {
    padding: 3rem;
    box-sizing: border-box;
    background-color: #CBCED4;
    margin-top: 5rem;

    &__title {
        @include fluid-size(font-size, 20px, 30px);
        font-weight: normal;
        margin-top: 0;
        color: $dark;
    }
}