.whatsapp-float {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 35px;
    fill: $secondary-color;
    
    svg {
        width: 45px;
        height: 45px;
    }

    a:visited {
        fill: $secondary-color;
    }
}