.footer {
    padding-top: 5rem;
    background-color: $primary-color;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        width: 90vw;
        background-color: #1f283e;
        height: 1px;
        margin-left: 50%;
        transform: translateX(-50%);

        @include max-lg {
            bottom: 11rem;
        }

        @include min-lg {
            bottom: 7rem;
        }
    }

	&__container {
        padding: 0 3rem;

        @include max-lg {
            text-align: center;
        }

        @include min-lg {
            display: flex;
            justify-content: space-between;
            max-width: $max-vw;
            margin: 0 auto;
        }
    }

    &__item {
        padding-bottom: 5rem;
        font-size: 1.8rem;
        p {
            padding: 0;
            margin: 0;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: $secondary-color;
            transition: all 0.5s;
        }
    }

    &__social-midia {
        padding: 0;
        margin: 0;
        display: flex;

        @include max-lg {
            justify-content: center;
        }
        
        li {
            list-style: none;
            padding-right: 3rem;
        }

        a:hover{
            path,
            svg {
                fill: $secondary-color;
                transition: all 0.5s;
            }
        }

        path,
        svg {
            fill: white;
            width: 40px;
            transition: all 0.5s;
        }
    }

    &__sign {

        padding: 0 3rem;
        max-width: $max-vw;
        margin: 0 auto;
        align-items: center;

        @include min-lg {
            display: grid;
            grid-template-columns: auto 48px;
           
        }

        p {
            font-size: 14px;
            text-align: center;
        }

        a {
            width: 48px;
            display: inline-block;
            
            @include max-lg {
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}