.footer {
    padding-top: 5rem;
    background-color: $primary-color;

	&__container {
        padding: 0 3rem;

        @include max-lg {
            text-align: center;
        }

        @include min-lg {
            display: flex;
            justify-content: space-between;
            max-width: $max-vw;
            margin: 0 auto;
        }
    }

    &__item {
        padding-bottom: 5rem;
        font-size: 1.8rem;
        p {
            padding: 0;
            margin: 0;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__social-midia {
        padding: 0;
        margin: 0;
        display: flex;

        @include max-lg {
            justify-content: center;
        }
        
        li {
            list-style: none;
            padding-right: 3rem;
        }

        svg {
            fill: white;
            width: 40px;
        }
    }

    &__sign {
        display: grid;
        grid-template-columns: auto 48px;
        padding: 0 3rem;
        max-width: $max-vw;
        margin: 0 auto;
        align-items: center;
        border-top: 1px solid #0a2666;

        p {
            font-size: 14px;
            text-align: center;
        }
    }
}