.header {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #e6e6e6;
    z-index: 99;
    background-color: white;

    @include max-lg {
        padding: 0.5rem 2rem;
    }

    @include min-lg {
        padding: 2rem;
        transition: all .5s;
    }

    &__logo {
        @include fluid-size(width, 150px, 253px);
        transition: all .5s;
        z-index: 1;

        svg {
            width: 100%;
        }
    }

    &__container {
		position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
	}

    &__head {
        display: flex;
        align-items: center;
    }
}

.menu-collapse {
    padding: 0 1rem;
    transition: all .5s;

    .header__logo {
        width: 15rem;
        transition: all .5s;
    }
}