.blog {
    background-color: #EBEBEB!important;
    background-image: url($imgpath + '/v-line.png');
    
    &__posts {
        max-width: $max-vw;
        margin: 10rem auto;
    }

    &__article {
        @include max-lg {
            margin-bottom: 5rem;
        }

        @include min-lg {
            margin-bottom: 10rem;
        }

        &:nth-child(n+4) {
            width: 45%;
            display: inline-flex;

            .blog__title {
                a{
                    @include fluid-size(font-size, 20px, 40px);
                }
            }

            .blog__excerpet {
                @include fluid-size(font-size, 16px, 20px);
            }
        }
    }

    &__link {}

    &__image {}

    &__date {
        @extend %blog-date;
    }

    &__title {
        a{
            @extend %blog-title;
            text-decoration: none;
        }
    }

    &__excerpet {
        @extend %blog-subtitle;
        text-align: left;
    }

    &__search {

        input[name="s"] {
            
            &::placeholder {
                
            }
        }

        input[name="s"]:focus {
            
        }

        h2 {}

        h3 {}
    }

    &__categorias {}
}