.page-home {
	
}

.home {
    &__consultant {
        max-width: 90vw;
        margin: 0 auto;
        
        @include min-xl {
            gap: 10rem;
            display: grid;
            grid-template-columns: 35% auto;
            box-sizing: border-box;
            align-items: center!important;
        }
    }

    &__diferencial {
        width: 90vw;
        max-width: 130rem;
        margin: 0 auto;

        > div:last-child {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        .wp-block-cb-slide {
            
        }
    }

    &__produtos {
        padding: {
            left: 3rem;
            right: 3rem;
        };
        margin: 0 auto;
    }

    &__produtos.aligncenter {
        @include max-lg {
            text-align: left;
        }
    }

    .page-title {
        display: none;
    }
}