.page-home {
	
}

.home {
    &__consultant {
        max-width: $max-vw;
        margin: 0 auto;
        
        @include min-xl {
            gap: 10rem;
            display: grid;
            grid-template-columns: 35% auto;
            box-sizing: border-box;
            align-items: center!important;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: #D800FF;
            width: 30vw;
            height: 300px;
            filter: blur(64px);
            border-radius: 290px;
            z-index: 0;
            opacity: .3;
            right: 0;
            transform: translateY(-50%);
            animation: bg-change1 4s infinite;
            @include bg-change-animation(#D800FF, #009DFF, bg-change1 );
        }

        &::after {
            content: '';
            position: absolute;
            background-color: #009DFF;
            width: 50%;
            height: 300px;
            filter: blur(64px);
            border-radius: 290px;
            z-index: 0;
            opacity: .3;
            transform: translateY(50%);
            animation: bg-change 4s infinite;
            @include bg-change-animation(#009DFF, #00d084, bg-change);
        }

        div {
            z-index: 1;
        }

        figure {
            -webkit-box-shadow: 0px 10px 30px 0px rgba(0,157,255,0.3);
            -moz-box-shadow: 0px 10px 30px 0px rgba(0,157,255,0.3);
            box-shadow: 0px 10px 30px 0px rgba(0,157,255,0.3);   
        }
    }

    &__diferencial {
        width: 90vw;
        max-width: $max-vw;
        margin: 0 auto;

        > div:last-child {
            display: flex;
            align-items: center;
            justify-content: right;
        }

        .wp-block-cb-slide {
            
        }
    }

    &__produtos {
        padding: {
            left: 3rem;
            right: 3rem;
        };
        margin: 0 auto;
    }

    &__produtos.aligncenter {
        @include max-lg {
            text-align: left;
        }
    }

    .page-title {
        display: none;
    }
}