%blog-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $secondary-color;
    @include fluid-size(font-size, 30px, 60px);
    text-align: center;
    font-weight: 500;
    line-height: 1.3em;
}

%blog-subtitle {
    @include fluid-size(font-size, 24px, 32px);
    color: $primary-color;
    text-align: center;
}

%blog-date {
    color: $secondary-color;

    @include max-lg {
        font-size: 16px;
    }

    @include min-lg {
        font-size: 18px;
    }
}