.bd-block-page-titles {
    &__subtitle {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        @extend %gradient-text;
        display: inline-block;
        margin-bottom: 1rem
    }

    &__title {
        @include fluid-size(font-size, 20px, 40px);
        margin: 0;
        padding: 0 0 4rem;
        font-family: $headings;
    }
}